body {font-family: var(--font-family);
color: #434455;
background-color: #fff;}
/* header */
ul, ol {list-style-type: none;
    margin: 0;
    padding: 0;}
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
        }
a {text-decoration: none;}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
            0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
        padding: 24px 0;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    color: #404bbf;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}
    .header-logo {margin-right: 76px;}
    .header-logo .logo-part {color: #2e2f42;}
                .header-list {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                }
                                /* main */
                         .section-hero {
                             padding: 188px 0;
                             max-width: 1440px;
                             margin: 0 auto;
            
                             background-image:
                                 linear-gradient(rgba(46, 47, 66, 0.7),
                                     rgba(46, 47, 66, 0.7)),
                                 url('../images/people-office.jpg');
            
                             background-repeat: no-repeat;
                             background-position: center;
                             background-size: cover;
                         }
                .hero-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .hero-title {
                    max-width: 496px;
                    margin: 0 auto 48px;
                    font-size: 56px;
                    line-height: 1.07;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #fff;
                }
        
                .hero-btn {
                    display: block;
                    margin: 0 auto;
                    padding: 16px 32px;
                    min-width: 169px;
                    border: none;
                    border-radius: 4px;
                    font-family: inherit;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    color: #fff;
                    background-color: #4d5ae5;
                    cursor: pointer;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                }
                .hero-btn:hover,
                .hero-btn:focus {
                    background-color: #404bbf;
                }
                /* features */
                              .features-list {font-size: 20px;
                                line-height: 1.2;
                                letter-spacing: 0.02em;
                                color: #2e2f42;}
/*icon */
.benefits-icon {
    display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
}
.feature-icon {
    color: #2e2f42;
    fill: currentColor;
}
.benefits-icon svg {
    width: 64px;
    height: 64px;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(100%);
margin: -1px;}

.benefits-list {
display: flex;
gap: 24px;
padding: 0;
}
.section {
    padding: 120px 0;
}
.benefits-item {
    width: calc((100% - 72px) / 4);
}
.benefits-subtitle {
    margin-bottom: 8px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.card-subtitle {margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
        .card-text {
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
/* team */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-team {background: #f4f4fd;
padding: 120px 0;}
.team-list {
display: flex;
    gap: 24px;
            }
.team-item {
width: calc((100% - 72px) / 4);
border-radius: 0 0 4px 4px;
background-color: #fff;
box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
                
.team-content {
padding: 32px 16px;
}
                
.team-subtitle,
.team-text {
text-align: center;
}
:root {
    --iris: #4d5ae5;
    --cloud: #f4f4fd;
    --font-family: "Roboto", sans-serif;
        --second-family: "Raleway", sans-serif;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
    fill: #f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
    fill: var(--cloud);
}
/* portfolio */
.our-portfolio {
    padding: 120px 0;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-content {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.portfolio-item:hover,
.portfolio-item:focus-within {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 40px 32px;

    background-color: #4d5ae5;
        color: #f4f4fd;

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text,
.portfolio-item:focus-within .overlay-text {
    transform: translateY(0);
}
/* footer */
.page-footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-logo {
    display: inline-block;
        margin-bottom: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.footer-logo-accent {
    color: var(--cloud);
}
.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
        align-items: baseline;
        gap: 120px;
}
.footer-info {
    max-width: 264px;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
}
.footer-social-title {
    margin-bottom: 16px;

    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: #4d5ae5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-social-icon {
    fill: #f4f4fd;
}
/*subscribe*/
.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    width: 165px;
    height: 40px;

    background-color: #4d5ae5;
    color: #fff;

    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31d0aa;
}

.subscribe-wrapper {
    display: flex;
    gap: 24px;
}
.subscribe-input {
    width: 264px;
        height: 40px;
        padding-left: 16px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        background-color: transparent;
        color: #ffffff;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus {
    border-color: #31d0aa;
}
.subscribe-input::placeholder {
    color: #ffffff;
}
.subscribe-icon {
    fill: #ffffff;
}
.footer-subscribe {
    margin-left: auto;
}
/* modal window */
.modal-title {font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding: 24px 0;}
.modal-form {display: flex;
    flex-direction: column;
    padding: 0px;}

.form-field {
margin-bottom: 8px;
        }

.form-input {
    padding-left: 48px;
    padding-right: 24px;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        font-family: "Roboto", sans-serif;
        
}
.form-label {
    display: flex;
    flex-direction: column;
font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #8e8f99;
margin-bottom: 4px;
}
.form-btn {display: block;
    margin: 0 auto;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    text-align: center;
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}
.modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(46, 47, 66, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.modal {width: 408px;
min-height: 584px;
border-radius: 4px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
padding: 72px 24px 24px;
position: relative;}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
        
.modal-close-btn {
position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-close-icon {
width: 8px;
height: 8px;
fill: #2e2f42;}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}
        
.form-input-wrapper {
position: relative;
}
.form-icon {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
pointer-events: none;
fill: #2E2F42;
pointer-events: none;
width: 18px;
height: 18px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
width: 360px;
height: 120px;
padding: 8px 16px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
font-family: "Roboto", sans-serif;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
color: rgba(46, 47, 66, 0.4);
}
.form-input:focus,
.form-textarea:focus {
border-color: #4d5ae5;
outline: none;
}

.form-input-wrapper:focus-within .form-icon {
fill: #4d5ae5;
}
.form-checkbox {
display: flex;
align-items: center;
gap: 8px;
font-size: 12px;
color: #8e8f99;
}
.checkbox-input {
width: 16px;
height: 16px;
margin: 0;
}
.checkbox-text {
line-height: 1.3;
white-space: nowrap;
}
.privacy-link {
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.form-checkbox-wrapper {
margin-top: 16px;
margin-bottom: 24px;}

.checkbox-custom {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
display: flex;
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-custom svg {
    opacity: 0;
    fill: #ffffff;
}
.checkbox-input:checked+.checkbox-custom svg {
    opacity: 1;
}
.checkbox-input:checked+.checkbox-custom {
border-color: #4d5ae5;
fill: #fff;
}